<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>New Atricle</title>
</head>
<body>
	<form action="/article/new" method='post'>
	<div>
		<input type="text" name="article" placeholder='Article name'/>
		</div>
		<div>
			<textarea name="description" id="description" cols="30" rows="10" placeholder='add description'></textarea>
		</div>
		<div>
			<input type="text" placeholder='add tags' name='tags'/>
		</div>
		<div>
			<button type="submit">submit</button>
		</div>
	</form>
</body>
</html>