<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Dashboard</title>
	</head>
	<body>
		<div>
			<a href="/login">login</a>
			<a href="/signup">signup</a>
			<a href="/dashboard">dashboard</a>
			<a href="/article/new">add new article</a>
			<a href="/profile">my profile</a>
			<a href="/logout">logout</a>
		</div>
		<% articles.forEach(function(article) {%>
		<li><%= article.name %></li>
		<%})%>
	</body>
</html>
